.custom-button {
  background-color: #3f71e3;
  color: white; /* Colore del testo */
  border-radius: 8px; /* Bordi arrotondati */
  padding: 4px 13px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Ombreggiatura */
  transition: background-color 0.3s ease; /* Transizione al passaggio del mouse */
}

.custom-button:hover {
  background-color: #5a8cff; /* Colore di sfondo personalizzato al passaggio del mouse */
}
