<div class="main-content page-m">
  <div class="section-content section-content-p30">
    <div class="container">
      <div class="mb-4">
        <div class="text-center m-0">
          <img
            src="https://i.ibb.co/LJ9hvcM/checkout.png"
            alt=""
            style="width: 285px"
            class="mt-2 mb-2"
          />
        </div>
      </div>
      <div
        style="height: 26px; border-top: 4px solid #ae1c79; border-radius: 23px"
      ></div>
      <form
        class="flex-container"
        [formGroup]="checkoutFormGroup"
        (ngSubmit)="onSubmit()"
      >
        <div class="flex-item">
          <div formGroupName="customer" class="form-area">
            <ul class="text-center footer-payments">
              <li style="padding: 7px 0">
                <i style="font-size: 39px" class="fas fa-user-circle"></i>
              </li>
            </ul>

            <div class="row">
              <div class="col-md-2"><label>Nome</label></div>
              <div class="col-md-4">
                <div class="input-space">
                  <input
                    formControlName="firstName"
                    type="text"
                    [(ngModel)]="userFirstName"
                  />

                  <div
                    *ngIf="
                      firstName?.invalid &&
                      (firstName?.dirty || firstName?.touched)
                    "
                    class="alert alert-danger mt-1"
                  >
                    <div
                      *ngIf="
                        (firstName &&
                          firstName.errors &&
                          firstName.errors['required']) ||
                        (firstName &&
                          firstName.errors &&
                          firstName.errors['notOnlyWhitespace'])
                      "
                    >
                      First Name is required
                    </div>

                    <div
                      *ngIf="
                        firstName &&
                        firstName.errors &&
                        firstName.errors['minlength']
                      "
                    >
                      First Name must be at least 2 characters long
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-2"><label>Cognome</label></div>
              <div class="col-md-4">
                <div class="input-space">
                  <input formControlName="lastName" type="text" />

                  <div
                    *ngIf="
                      lastName?.invalid &&
                      (lastName?.dirty || lastName?.touched)
                    "
                    class="alert alert-danger mt-1"
                  >
                    <div
                      *ngIf="
                        (lastName &&
                          lastName.errors &&
                          lastName.errors['required']) ||
                        (lastName &&
                          lastName.errors &&
                          lastName.errors['notOnlyWhitespace'])
                      "
                    >
                      Last Name is required
                    </div>

                    <div
                      *ngIf="
                        lastName &&
                        lastName.errors &&
                        lastName.errors['minlength']
                      "
                    >
                      Last Name must be at least 2 characters long
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-2"><label>Email</label></div>
              <div class="col-md-4">
                <div class="input-space">
                  <input
                    formControlName="email"
                    type="text"
                    [(ngModel)]="userEmail"
                  />

                  <div
                    *ngIf="email?.invalid && (email?.dirty || email?.touched)"
                    class="alert alert-danger mt-1"
                  >
                    <div
                      *ngIf="email && email.errors && email.errors['required']"
                    >
                      Email is required
                    </div>

                    <div
                      *ngIf="email && email.errors && email.errors['pattern']"
                    >
                      Email must be a valid email address format
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- shipping Address -->
          <div formGroupName="shippingAddress" class="form-area">
            <ul class="text-center footer-payments">
              <li style="padding: 8px 0">
                <i style="font-size: 39px" class="fas fa-house-user"></i>
              </li>
            </ul>

            <div class="row">
              <div class="col-md-2"><label>Nazione</label></div>
              <div class="col-md-4">
                <div class="input-space">
                  <select
                    formControlName="country"
                    (change)="getRegions('shippingAddress')"
                  >
                    <option
                      *ngFor="let country of countries"
                      [ngValue]="country"
                    >
                      {{ country.name }}
                    </option>
                  </select>

                  <div
                    *ngIf="
                      shippingAddressCountry?.invalid &&
                      (shippingAddressCountry?.dirty ||
                        shippingAddressCountry?.touched)
                    "
                    class="alert alert-danger mt-1"
                  >
                    <div
                      *ngIf="
                        shippingAddressCountry &&
                        shippingAddressCountry.errors &&
                        shippingAddressCountry.errors['required']
                      "
                    >
                      Country is required
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-2"><label>Via</label></div>
              <div class="col-md-4">
                <div class="input-space">
                  <input formControlName="street" type="text" />

                  <div
                    *ngIf="
                      shippingAddressStreet?.invalid &&
                      (shippingAddressStreet?.dirty ||
                        shippingAddressStreet?.touched)
                    "
                    class="alert alert-danger mt-1"
                  >
                    <div
                      *ngIf="
                        (shippingAddressStreet &&
                          shippingAddressStreet.errors &&
                          shippingAddressStreet.errors['required']) ||
                        (shippingAddressStreet &&
                          shippingAddressStreet.errors &&
                          shippingAddressStreet.errors['notOnlyWhitespace'])
                      "
                    >
                      Street is required
                    </div>
                    <div
                      *ngIf="
                        shippingAddressStreet &&
                        shippingAddressStreet.errors &&
                        shippingAddressStreet.errors['minlength']
                      "
                    >
                      Street must be at least 2 characters long
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-2"><label>Città</label></div>
              <div class="col-md-4">
                <div class="input-space">
                  <input formControlName="city" type="text" />

                  <div
                    *ngIf="
                      shippingAddressCity?.invalid &&
                      (shippingAddressCity?.dirty ||
                        shippingAddressCity?.touched)
                    "
                    class="alert alert-danger mt-1"
                  >
                    <div
                      *ngIf="
                        (shippingAddressCity &&
                          shippingAddressCity.errors &&
                          shippingAddressCity.errors['required']) ||
                        (shippingAddressCity &&
                          shippingAddressCity.errors &&
                          shippingAddressCity.errors['notOnlyWhitespace'])
                      "
                    >
                      City is required
                    </div>
                    <div
                      *ngIf="
                        shippingAddressCity &&
                        shippingAddressCity.errors &&
                        shippingAddressCity.errors['minlength']
                      "
                    >
                      City must be at least 2 characters long
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-2"><label>Regione</label></div>
              <div class="col-md-4">
                <div class="input-space">
                  <select formControlName="region">
                    <option
                      *ngFor="let region of shippingAddressRegions"
                      [ngValue]="region"
                    >
                      {{ region.name }}
                    </option>
                  </select>

                  <div
                    *ngIf="
                      shippingAddressRegion?.invalid &&
                      (shippingAddressRegion?.dirty ||
                        shippingAddressRegion?.touched)
                    "
                    class="alert alert-danger mt-1"
                  >
                    <div
                      *ngIf="
                        shippingAddressRegion &&
                        shippingAddressRegion.errors &&
                        shippingAddressRegion.errors['required']
                      "
                    >
                      Region is required
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-2"><label>CAP</label></div>
              <div class="col-md-4">
                <div class="input-space">
                  <input formControlName="zipCode" type="text" />

                  <div
                    *ngIf="
                      shippingAddressZipCode?.invalid &&
                      (shippingAddressZipCode?.dirty ||
                        shippingAddressZipCode?.touched)
                    "
                    class="alert alert-danger mt-1"
                  >
                    <div
                      *ngIf="
                        (shippingAddressZipCode &&
                          shippingAddressZipCode.errors &&
                          shippingAddressZipCode.errors['required']) ||
                        (shippingAddressZipCode &&
                          shippingAddressZipCode.errors &&
                          shippingAddressZipCode.errors['notOnlyWhitespace'])
                      "
                    >
                      Zip code is required
                    </div>
                    <div
                      *ngIf="
                        shippingAddressZipCode &&
                        shippingAddressZipCode.errors &&
                        shippingAddressZipCode.errors['minlength']
                      "
                    >
                      Zip code must be at least 2 characters long
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Add check box to copy shipping to billing -->
        <!-- <div class="input-space">
          <label class="au-checkbox">
            <input
              type="checkbox"
              (change)="copyShippingAddressToBillingAddress($event)"
            />
            <span class="au-checkmark"></span>Billing Address same as Shipping
            Address
          </label>
        </div> -->

        <!-- Billing Address -->
        <!-- <div formGroupName="billingAddress" class="form-area">
          <h3>Billing Address</h3>

          <div class="row">
            <div class="col-md-2"><label>Country</label></div>
            <div class="col-md-4">
              <div class="input-space">
                <select
                  formControlName="country"
                  (change)="getRegions('billingAddress')"
                >
                  <option *ngFor="let country of countries" [ngValue]="country">
                    {{ country.name }}
                  </option>
                </select>

                <div
                  *ngIf="
                    billingAddressCountry?.invalid &&
                    (billingAddressCountry?.dirty ||
                      billingAddressCountry?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div
                    *ngIf="
                      billingAddressCountry &&
                      billingAddressCountry.errors &&
                      billingAddressCountry.errors['required']
                    "
                  >
                    Country is required
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>Street</label></div>
            <div class="col-md-4">
              <div class="input-space">
                <input formControlName="street" type="text" />

                <div
                  *ngIf="
                    billingAddressStreet?.invalid &&
                    (billingAddressStreet?.dirty ||
                      billingAddressStreet?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div
                    *ngIf="
                      (billingAddressStreet &&
                        billingAddressStreet.errors &&
                        billingAddressStreet.errors['required']) ||
                      (billingAddressStreet &&
                        billingAddressStreet.errors &&
                        billingAddressStreet.errors['notOnlyWhitespace'])
                    "
                  >
                    Street is required
                  </div>
                  <div
                    *ngIf="
                      billingAddressStreet &&
                      billingAddressStreet.errors &&
                      billingAddressStreet.errors['minlength']
                    "
                  >
                    Street must be at least 2 characters long
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>City</label></div>
            <div class="col-md-4">
              <div class="input-space">
                <input formControlName="city" type="text" />

                <div
                  *ngIf="
                    billingAddressCity?.invalid &&
                    (billingAddressCity?.dirty || billingAddressCity?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div
                    *ngIf="
                      (billingAddressCity &&
                        billingAddressCity.errors &&
                        billingAddressCity.errors['required']) ||
                      (billingAddressCity &&
                        billingAddressCity.errors &&
                        billingAddressCity.errors['notOnlyWhitespace'])
                    "
                  >
                    City is required
                  </div>
                  <div
                    *ngIf="
                      billingAddressCity &&
                      billingAddressCity.errors &&
                      billingAddressCity.errors['minlength']
                    "
                  >
                    City must be at least 2 characters long
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>Region</label></div>
            <div class="col-md-4">
              <div class="input-space">
                <select formControlName="region">
                  <option
                    *ngFor="let region of billingAddressRegions"
                    [ngValue]="region"
                  >
                    {{ region.name }}
                  </option>
                </select>

                <div
                  *ngIf="
                    billingAddressRegion?.invalid &&
                    (billingAddressRegion?.dirty ||
                      billingAddressRegion?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div
                    *ngIf="
                      billingAddressRegion &&
                      billingAddressRegion.errors &&
                      billingAddressRegion.errors['required']
                    "
                  >
                    Region is required
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>Zip Code</label></div>
            <div class="col-md-4">
              <div class="input-space">
                <input formControlName="zipCode" type="text" />

                <div
                  *ngIf="
                    billingAddressZipCode?.invalid &&
                    (billingAddressZipCode?.dirty ||
                      billingAddressZipCode?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div
                    *ngIf="
                      (billingAddressZipCode &&
                        billingAddressZipCode.errors &&
                        billingAddressZipCode.errors['required']) ||
                      (billingAddressZipCode &&
                        billingAddressZipCode.errors &&
                        billingAddressZipCode.errors['notOnlyWhitespace'])
                    "
                  >
                    Zip code is required
                  </div>

                  <div
                    *ngIf="
                      billingAddressZipCode &&
                      billingAddressZipCode.errors &&
                      billingAddressZipCode.errors['minlength']
                    "
                  >
                    Zip code must be at least 2 characters long
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->

        <!-- Credit Card -->
        <div class="flex-item">
          <div formGroupName="creditCard" class="form-area">
            <ul class="footer-payments text-center">
              <li>
                <a href="#"><i class="fab fa-cc-visa"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-credit-card"></i></a>
              </li>

              <li>
                <a href="#"><i class="fab fa-cc-mastercard"></i></a>
              </li>
            </ul>

            <div class="row">
              <div class="col-md-2"><label>Tipologia Carta</label></div>
              <div class="col-md-4">
                <div class="input-space">
                  <select formControlName="cardType">
                    <option>Visa</option>
                    <option>Mastercard</option>
                  </select>

                  <div
                    *ngIf="
                      creditCardType?.invalid &&
                      (creditCardType?.dirty || creditCardType?.touched)
                    "
                    class="alert alert-danger mt-1"
                  >
                    <div
                      *ngIf="
                        creditCardType &&
                        creditCardType.errors &&
                        creditCardType.errors['required']
                      "
                    >
                      Credit card type is required
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-2"><label>Nome sulla carta</label></div>
              <div class="col-md-4">
                <div class="input-space">
                  <input formControlName="nameOnCard" type="text" />

                  <div
                    *ngIf="
                      creditCardNameOnCard?.invalid &&
                      (creditCardNameOnCard?.dirty ||
                        creditCardNameOnCard?.touched)
                    "
                    class="alert alert-danger mt-1"
                  >
                    <div
                      *ngIf="
                        (creditCardNameOnCard &&
                          creditCardNameOnCard.errors &&
                          creditCardNameOnCard.errors['required']) ||
                        (creditCardNameOnCard &&
                          creditCardNameOnCard.errors &&
                          creditCardNameOnCard.errors['notOnlyWhitespace'])
                      "
                    >
                      Name is required
                    </div>

                    <div
                      *ngIf="
                        creditCardNameOnCard &&
                        creditCardNameOnCard.errors &&
                        creditCardNameOnCard.errors['minlength']
                      "
                    >
                      Name must be at least 2 characters long
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-2"><label>Numero della carta</label></div>
              <div class="col-md-4">
                <div class="input-space">
                  <input formControlName="cardNumber" type="text" />

                  <div
                    *ngIf="
                      creditCardNumber?.invalid &&
                      (creditCardNumber?.dirty || creditCardNumber?.touched)
                    "
                    class="alert alert-danger mt-1"
                  >
                    <div
                      *ngIf="
                        creditCardNumber &&
                        creditCardNumber.errors &&
                        creditCardNumber.errors['required']
                      "
                    >
                      Card number is required
                    </div>
                    <div
                      *ngIf="
                        creditCardNumber &&
                        creditCardNumber.errors &&
                        creditCardNumber.errors['pattern']
                      "
                    >
                      Card number must be 16 digits long
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-2"><label>CVC</label></div>
              <div class="col-md-4">
                <div class="input-space">
                  <input formControlName="securityCode" type="password" />

                  <div
                    *ngIf="
                      creditCardSecurityCode?.invalid &&
                      (creditCardSecurityCode?.dirty ||
                        creditCardSecurityCode?.touched)
                    "
                    class="alert alert-danger mt-1"
                  >
                    <div
                      *ngIf="
                        creditCardSecurityCode &&
                        creditCardSecurityCode.errors &&
                        creditCardSecurityCode.errors['required']
                      "
                    >
                      Security code is required
                    </div>

                    <div
                      *ngIf="
                        creditCardSecurityCode &&
                        creditCardSecurityCode.errors &&
                        creditCardSecurityCode.errors['pattern']
                      "
                    >
                      Security code must be 3 digits long
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-2"><label>Mese di scadenza</label></div>
              <div class="col-md-4">
                <div class="input-space">
                  <select formControlName="expirationMonth">
                    <option *ngFor="let month of creditCardMonths">
                      {{ month }}
                    </option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-2"><label>Anno di scadenza</label></div>
              <div class="col-md-4">
                <div class="input-space">
                  <select
                    formControlName="expirationYear"
                    (change)="handleMonthsAndYears()"
                  >
                    <option *ngFor="let year of creditCardYears">
                      {{ year }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <h3>Rivedi il tuo ordine</h3>
          <div class="d-flex align-items-center justify-content-evenly">
            <div class="form-area">
              <p>Numero articoli: {{ totalQuantity }}</p>
              <p>Spedizione: GRATUITA</p>
              <p>Prezzo totale: {{ totalPrice | currency : "EUR" }}</p>
            </div>

            <div class="text-center">
              <button type="submit" class="custom-button">Acquista</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
